# PERSONAL FINANCE DATABASE CREATION
####                 Using PYTHON RANDOM FUNCTION

IMPORT REQUIRED Libraries

In [ ]:
import pymysql #FOR CONNECTING IT WITH MYSQLSERVER WORKBENCH
import random  #FOR CREATING RANDOM DATABASE
import calendar #FOR ADDING MONTHS

CONNECTION WITH MYSQL SERVER

In [4]:
db = pymysql.connect(
    host="localhost",
    user="root",
    password="Abc@1234"
)

In [5]:
cursor = db.cursor()

CREATE AND SELECT THE DATABASE

In [10]:
cursor.execute("DROP DATABASE IF EXISTS PersonalFinance;")

0

In [11]:
cursor.execute("CREATE DATABASE PersonalFinance;")

1

In [12]:
cursor.execute("USE PersonalFinance;")

0

CREATE THE TABLES

In [13]:
cursor.execute("""
CREATE TABLE Income (
    id INT AUTO_INCREMENT PRIMARY KEY,
    month VARCHAR(20) NOT NULL,
    amount DECIMAL(10, 2) NOT NULL
);
""")
cursor.execute("""
CREATE TABLE Expenses (
    id INT AUTO_INCREMENT PRIMARY KEY,
    month VARCHAR(20) NOT NULL,
    category VARCHAR(50) NOT NULL,
    amount DECIMAL(10, 2) NOT NULL
);
""")
cursor.execute("""
CREATE TABLE Savings (
    id INT AUTO_INCREMENT PRIMARY KEY,
    month VARCHAR(20) NOT NULL,
    amount DECIMAL(10, 2) NOT NULL
);
""")
cursor.execute("""
CREATE TABLE Categories (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50) NOT NULL
);
""")

0

INSERT EXPENSE CATEGORIES

In [14]:
categories = ['Rent', 'Groceries', 'Transportation', 'Utilities', 'Entertainment', 'Miscellaneous']

for category in categories:
    cursor.execute(f"INSERT INTO Categories (name) VALUES ('{category}');")

RANDOMISED RANGE FOR EXPENSE CATEGORIES

In [15]:
expense_ranges = {
    'Rent': (14500, 15000),
    'Groceries': (4000, 7000),
    'Transportation': (3000, 5000),
    'Utilities': (1500, 3000),
    'Entertainment': (2000, 6000),
    'Miscellaneous': (1000, 3000)
}

GENERATE RANDOM DATA FOR DATABASE

In [17]:
years = [2022,2023, 2024]
income_data = []
expenses_data = []
savings_data = []

for year in years:
    for month in range(1, 13):
        month_name = f"{calendar.month_name[month]} {year}"

        # Generate random income (between 45000 and 55000)
        income = random.uniform(45000, 55000)
        income_data.append((month_name, round(income, 2)))

        # Generate random expenses for each category
        total_expenses = 0
        for category in categories:
            min_expense, max_expense = expense_ranges[category]
            expense = random.uniform(min_expense, max_expense)
            expenses_data.append((month_name, category, round(expense, 2)))
            total_expenses += expense

        # Calculate savings as the leftover income
        savings = max(0, income - total_expenses)
        savings_data.append((month_name, round(savings, 2)))

INSERTING DATA INTO RESPECTIVE TABLES

In [18]:
# Insert data into Income table
cursor.executemany("INSERT INTO Income (month, amount) VALUES (%s, %s);", income_data)

# Insert data into Expenses table
cursor.executemany("INSERT INTO Expenses (month, category, amount) VALUES (%s, %s, %s);", expenses_data)

# Insert data into Savings table
cursor.executemany("INSERT INTO Savings (month, amount) VALUES (%s, %s);", savings_data)

36

COMMIT THE CHANGES

In [19]:
db.commit()

CLOSE THE CONNECTION

In [20]:
cursor.close()
db.close()